#main-container {
  display: flex;
  justify-content: space-evenly;
  height: 75%;
  max-width: 100%;
  padding-top:1em;
}

#video-container {
  position: relative;
}

#video-feed {
  width: 100%;
  height: 600px;
  object-fit: contain;
}

.init-input {
  width: min(400px, calc(100%));
  margin-top: 1em;
}

.loading-indicator {
  margin: 0px;
  color: dimgray;
}

.bbox {
  position: absolute;
  background-color: transparent;
  border: 5px solid red;
  border-radius: 5px;
}

.bbox-identified {
  border-color: blue;
}

.bbox-label {
  font-size: 100%;
  font-weight: bold;
  color: red;
  position: absolute;
  width: max-content;
  top: -3em;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}

.bbox-label-identified {
  color: blue;
}

.bbox-score {
  margin-left: 10px;
  font-style: italic;
}

.detection-list-container {
  display: flex;
  min-width: 20%;
}

.detections {
  padding: 1em;
}

.detectionEntry {
  text-align: left;
  font-size: larger;
}


@media (max-width: 1300px) {
  #video-feed {
    height: 500px;
  }
}

@media (max-width: 992px) {
  #video-feed {
    height: 400px;
  }
}

@media (max-width: 768px) {
  #video-feed {
    height: 325px;
  }

  .detectionEntry {
    font-size: medium;
  }
}

@media (max-width: 576px) {
  #video-feed {
    height: 200px;
  }
}


@media screen and (orientation: portrait) {
  #main-container {
    flex-direction: column;
  }

  .detection-list-container {
    justify-content: center;
    width: 100%;
  }

  .detections {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 2em;
    width: 100%;
  }

  .detectionEntry {
    text-align: center;
  }
}
