<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Records</title>
    <link rel="icon" type ="image/x-icon" href="/static/favicon.ico">
    <link rel='stylesheet' type='text/css' media='screen' href='/static/css/main.css'>
    <link rel='stylesheet' type='text/css' media='screen' href='/static/css/entrylist.css'>
    <link rel='stylesheet' type='text/css' media='screen' href='/static/css/pages/records.css'>

</head>
<body>
    <div class="search-container">
        <div class="search-icon-container">
            <svg  xmlns="http://www.w3.org/2000/svg"  width="24"  height="24"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-search">
                <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                <path d="M10 10m-7 0a7 7 0 1 0 14 0a7 7 0 1 0 -14 0" />
                <path d="M21 21l-6 -6" />
            </svg>
        </div>
        
        <input type="text" placeholder="Search..." class="search-bar" id="search"></input>
    </div>
    <hr class="section-break" />
    <div id="records-list" class="entry-list"></div>
    <script src='/static/js/records.js'></script>
</body>
</html>