# data
dev-assets/
faces/
fusionfaces/
*.db
*.whl

# Byte-compiled / optimized / DLL files
**/__pycache__/
**/*.py[cod]

# Git
.git
.gitignore
.gitattributes

# Docker
docker-compose.yml
Dockerfile
.docker
.dockerignore

# Virtual environment
.env
.venv/
venv/

# VS Code
.vscode/

# Data
data/
