# Byte-compiled / optimized / DLL files
**/__pycache__/
**/*.py[cod]

# Git
.git
.gitignore
.gitattributes

# Docker
docker-compose.yml
Dockerfile
.docker
.dockerignore

# Virtual environment
.env
.venv/
venv/

# VS Code
.vscode/

# Data
data/
*.db
*.whl

# Dev
dev-assets/

# ReadME
ReadME.md
Developer Guide.md
assets/
