--extra-index-url https://download.pytorch.org/whl/cu118

albucore==0.0.16
Flask==3.0.3
Flask-Cors==5.0.0
albumentations==1.4.11
insightface==0.7.3
numpy==1.24.4
onnxruntime-gpu==1.18.1
opencv-python==4.9.0.80
opencv-python-headless==4.9.0.80
torch==2.1.2+cu118
torchvision
tqdm==4.66.1
voyager==2.0.6
