<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>FR Live</title>
    <link rel="icon" href="../static/favicon.png" />
    <link rel="stylesheet" href="../static/css/main.css" />
    <link rel="stylesheet" href="../static/css/index.css" />
    <link rel="stylesheet" href="../static/css/form.css" />
  </head>
  <body class="bg-image" style="background-image: url(../static/frieren.jpg)">
    <div id="table-menu" style="display: none">
      <div class="menu-header" id="table-menu-header">
        <span>Settings</span>
        <button id="close-menu">×</button>
      </div>
      <div class="seating-options">
        <button id="add-table">Add Table</button>
        <button id="remove-table">Remove Table</button>
        <button id="reset-tables">Reset All Tables</button>
        <div class="lock-toggle">
          <input type="checkbox" id="lock-tables" />
          <label for="lock-tables">Lock Tables (Disable Dragging)</label>
        </div>
        <div class="menu-option">
          <label for="toggle-video">
            <input type="checkbox" id="toggle-video" />Show Video
          </label>
        </div>
      </div>
    </div>
    <div class="flex-container-logo">
      <img src="../static/armylogo.png" />
      <img src="../static/11logo.png" />
      <img class="fusion-logo" src="../static/fusionlogo.png" />
    </div>
    <div class="flex-container">
      <h1 class="title">Facial Recognition</h1>
    </div>
    <div id="seatings-container" class="seatings"></div>
    <div id="main-container">
      <div id="video-container" class="hidden">
        <object id="video-feed" type="image/jpeg">
          <img src="../static/default.jpg" alt="default video image" />
        </object>
      </div>
      <div class="detection-list-container">
        <div class="detections" id="detections-list"></div>
      </div>
      <div class="taskbar-placeholder">
        <div class="taskbar">
          <button id="end_stream_button">End Stream</button>
        </div>
      </div>
    </div>
    <form id="init" class="form">
      <label for="stream_src">Video Stream Source</label>
      <input id="stream_src" class="init-input" name="stream_src" required />
      <div class="break"></div>
      <label for="data_file">Path to JSON file</label>
      <input type="text" id="data_file" class="init-input" name="data_file" />
      <div class="break"></div>
      <input
        type="submit"
        id="submit-button"
        class="submit-button"
        value="Submit"
      />
    </form>
    <input
      type="color"
      id="box-color-picker"
      style="position: absolute; display: none; z-index: 9999"
    />
    <script src="../static/js/detections.js"></script>
    <script src="../static/js/stream.js"></script>
  </body>
</html>
