<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>FR Settings</title>
    <link rel="icon" href="../static/favicon.png" />
    <link rel="stylesheet" type="text/css" href="../static/css/main.css" />
    <link rel="stylesheet" type="text/css" href="../static/css/form.css" />
  </head>
  <body>
    <h1 class="title">Facial Recognition Settings</h1>
    <form class="form" action="/submit" method="POST">
      <fieldset class="form-section">
        <legend>Default Parameters</legend>

        <label for="threshold">Default Recognition Threshold</label>
        <input
          type="number"
          id="threshold"
          name="threshold"
          value="{{ threshold|float|round(2) }}"
          min="0.3"
          max="0.9"
          step="0.01"
          required
        /><div class="break"></div>
        <!-- Value below which a face would be considered recognised; the lower the stricter -->

        <label for="holding_time">Holding Time</label>
        <input
          type="number"
          id="holding_time"
          name="holding_time"
          value="{{ holding_time|float|round(2) }}"
          min="1"
          max="120"
          step="1"
          required
        />
        <!-- Time (in seconds) for which a name would be displayed after last recognition  -->
      </fieldset>

      <fieldset class="form-section">
        <legend>Differentiator</legend>

        <label for="use_differentiator">Use Differentiator</label>
        <input
          type="checkbox"
          id="use_differentiator"
          name="use_differentiator"
          {% if use_differentiator %}checked{% endif %}
        /><div class="break"></div>

        <label for="threshold_lenient_diff">Lenient Threshold</label>
        <input
          type="number"
          class="differentiator-inputs"
          id="threshold_lenient_diff"
          name="threshold_lenient_diff"
          value="{{ threshold_lenient_diff|float|round(2) }}"
          min="0.3"
          max="0.9"
          step="0.01"
          required
        /><div class="break"></div>
        <!-- Value below which a face would be considered recognised; the lower the stricter; lenient threshold is for faces where the top match is much closer than the 2nd best -->

        <label for="similarity_gap">Similarity Gap</label>
        <input
          type="number"
          class="differentiator-inputs"
          id="similarity_gap"
          name="similarity_gap"
          value="{{ similarity_gap|float|round(2) }}"
          min="0.01"
          max="0.2"
          step="0.01"
          required
        />
        <!-- Difference in score between 1st and 2nd best match for lenient threshold to apply  -->
      </fieldset>

      <fieldset class="form-section">
        <legend>Persistor</legend>

        <label for="use_persistor">Use Persistor</label>
        <input
          type="checkbox"
          id="use_persistor"
          name="use_persistor"
          {% if use_persistor %}checked{% endif %}
        /><div class="break"></div>

        <label for="threshold_prev">Persistor Threshold</label>
        <input
          type="number"
          class="persistor-inputs"
          id="threshold_prev"
          name="threshold_prev"
          value="{{ threshold_prev|float|round(2) }}"
          min="0.01"
          max="0.6"
          step="0.01"
        /><div class="break"></div>
        <!-- The lower the stricter; persistor threshold is used to compare faces with previously identified faces (within holding time) -->

        <label for="threshold_iou">IOU Threshold</label>
        <input
          type="number"
          class="persistor-inputs"
          id="threshold_iou"
          name="threshold_iou"
          value="{{ threshold_iou|float|round(2) }}"
          min="0.00"
          max="1.00"
          step="0.01"
        /><div class="break"></div>
        <!-- The higher the stricter; When comparing with previously identified faces, the bounding boxes must overlap with their intersected area at least a fraction of their union area -->


        <label for="threshold_lenient_pers">Lenient Threshold</label>
        <input
          type="number"
          class="persistor-inputs"
          id="threshold_lenient_pers"
          name="threshold_lenient_pers"
          value="{{ threshold_lenient_pers|float|round(2) }}"
          min="0.3"
          max="0.9"
          step="0.01"
        />
        <!-- The lower the stricter; This is a safeguard ensuring that faces fulfilling the above 2 criterias are not completely random but bear some recognition to faces in the database -->

      </fieldset>

      <input type="submit" class="submit-button" value="Submit" />
    </form>
    <script src="../static/js/settings.js"></script>
  </body>
</html>
